<select id="municipio" required>
  <option value="">Seleccione municipio</option>
  <option value="na">n/a (no aplica)</option>
  <option value="01-san pedro garza garcia">San Pedro Garza García</option>
  <option value="03-santa catarina">Santa Catarina</option>
  <option value="04-garcia">García</option>
  <option value="05-san nicolas de los garza">San Nicolás de los Garza</option>
  <option value="06-juarez">Juárez</option>
  <option value="07-escobedo">Escobedo</option>
  <option value="08-guadalupe">Guadalupe</option>
  <option value="09-apodaca">Apodaca</option>
  <option value="10-monterrey">Monterrey</option>
  <option value="11-santiago">Santiago</option>
  <option value="12-los demás">Otros</option>
</select>

